@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: pink;
    text-align: center;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .headerText {
    max-width: 900px;
    margin-bottom: 50px;
  }
  
  .subHeaderText {
    max-width: 250px;
    margin-bottom: 10px;
  }
  
  .letterContainer {
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  .letterContainer:hover {
    transform: scale(1.15);
  }
  
  .letter, .letterOpened {
    max-width: 400px;
    max-height: 500px;
  }
  
  .resetButton {
    margin-top: 20px;
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  
  .resetButton:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 1);
  }
  
  .resetButtonImage {
    max-width: 70%;
    height: auto;
  }
  
  .startScreen h1 {
    font-family: 'Press Start 2P', serif;
    font-size: 1.5rem;
    color: #181818;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .headerText, .subHeaderText, .letter, .letterOpened {
      max-width: 250px;
    }
  }